@tailwind base;
@tailwind components;
@tailwind utilities;

.product_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "content"
        "image";
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    margin: 1rem auto;
    font-family: Arial, sans-serif;
}

.product_header {
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.product_header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.product_header .owner_name {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}

.product_header .created_date {
    font-size: 0.8rem;
    color: #666;
    margin-left: 0.5rem;
}

.product_content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
}

.product_content .product_name {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}

.product_content .product_description {
    font-size: 1rem;
    color: #666;
}

.product_image {
    grid-area: image;
    width: 85%;
    text-align: center;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
}

.product_actions {
    /* margin-top: 1rem; */
    text-align: right;
    margin-left: auto;
    padding-right: 2rem;
}

.product_actions button {
    background-color: rgb(40, 0, 150);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.product_actions button:hover {
    background-color: rgb(1, 1, 70);
}

#admin_dropdown{
    grid-row-start: 1;
    grid-column-start: 1;
    margin-left: auto;
    margin-right: 7rem;
    outline: 2px solid rgb(40, 0, 150);
    border-radius: 5px;
}

.admin_content #primaryButton{
    justify-content: space-between;
    width: fit-content;
}

#primaryButton{
    background-color: rgb(40, 0, 150);
    outline: 2px solid white;
    margin: 2px;
}

#primaryButton:hover{
    background-color: rgb(1, 1, 70);
}

.filters{
    text-align: center;
    margin:auto;
    margin-bottom: 5rem;
}

.filters_buttons{
    padding-bottom: 10px;
}

.filters_buttons #primaryButton{
    width: 240px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-inline: 1rem;
}

.sortby_buttons #primaryButton{
    width: 155px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sortby_buttons #primaryButton{
    margin-inline: 0.5rem;
    margin-block: 1rem;
}

.sortby_title{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.bg-gray-100{
    background-color: rgb(74, 80, 133);
}

.mb-4 > label{
    color: black;
    font-weight: bold;
    font-size: large;
}

.product_header .review_loan_text {
    font-size: 1rem;
    color: black;
    margin-left: 0.5rem;
}